<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){
        myMap = new ymaps.Map("yamap", {
            center: [59.9300759, 30.2518849],
            zoom: 11
        });
        myMap.events.add('click',function(c) {
            //myCollection.removeAll();
            //alert(c.get('coords'));
            console.log($("[name='my-checkbox']").bootstrapSwitch('state'));
            coords = c.get('coords');
            lat_data = coords[0];
            lon_data = coords[1];
            $.ajax({
                type: "POST",
                url: "social.php",
                data: "lat=" + lat_data + "&lon=" + lon_data,
                success: function(msg){
                    var json_x = $.parseJSON(msg);
                    var div = document.getElementById('insta_photos');
                    var htmldata = '';
                    var myCollection = new ymaps.GeoObjectCollection({}, {
                        preset: 'islands#redIcon', //все метки красные
                        draggable: false // и их можно перемещать
                    });
                    myCollection.removeAll();
                    json_x.forEach(function(entry) {
                        htmldata +=  entry.data;
                        myCollection.add(new ymaps.Placemark([entry.lat, entry.lon], {
                            balloonContent: entry.data
                        }));
                    });
                    myMap.geoObjects.add(myCollection);
                    div.innerHTML = htmldata;
                }
            });
        });
    }
</script>
<input type="checkbox" name="my-checkbox" checked>
<div id="yamap" style="width: 1100px; height: 600px"></div>
<br />
<div id="insta_photos" style="border: 1px"></div>
<hr>